@media only screen {
  #imagescompared{
    /* height: 100%; */
  }
  .twentytwenty-container{
      height: 45vh !important;

  }
 .twentytwenty-handle,
 .twentytwenty-overlay {
    display:none;
  }

  img.twentytwenty-before {
      width: 49%;
      clip: unset !important;
  }
  img.twentytwenty-after {
      width: 49%;
      right:0;
  }
  #nav-wall {
    display:none !important;
  }
}

@media only screen and (min-width: 90.063em) {  /* min-width 1441px, xlarge screens */
  footer {
￼    margin-top: 10rem;
  }
}
