// project: along the wall strip
// date: 2019 03 20
// design: vitrubio.net
// client: elglobusvermell.org
// framework: foundation.zurb.com v6



/*Fonts for the web site  */
/* ../assets/fonts/renner/rennerstylesheet.css */
/* ../assets/fonts/renner.old/renneroldstylesheet.css */
@font-face {
  font-family: 'rennerold';
  src: url('../assets/fonts/renner.old/renner-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rennerolditalic';
  src: url('../assets/fonts/renner.old/renner-bookitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldbold';
  src: url('../assets/fonts/renner.old/renner-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldblack';
  src: url('../assets/fonts/renner.old/renner-black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldblackitalic';
  src: url('../assets/fonts/renner.old/renner-blackitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldlight';
  src: url('../assets/fonts/renner.old/renner-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldlihgtitalic';
  src: url('../assets/fonts/renner.old/renner-lightitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldmedium';
  src: url('./assets/fonts/renner.old/renner-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldmediumitalic';
  src: url('../assets/fonts/renner.old/renner-mediumitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* futura font*/
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-BoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-BookOblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-LightOblique.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}




/* // Small screens */
/* Define mobile styles */
@media only screen {
  .frontpage{
    .callout{
      img{
        width:60%;
      }
      p{
        font-size: rem-calc(12);
        margin:0;
        padding:0;
      }
    }
  }
  h1,h2{
    font-weight: bold;
  }
  h3,h4,h5,p,ul,li{
    font-weight: lighter;
  }
  dl{
    dt{
      font-weight: normal;
      margin-top: $global-margin*2;
      line-height: $global-lineheight/2;
    }
    dd{
      font-weight: lighter;
    }
  }
  header {
    padding-bottom: $global-padding*2;
    .sticky.is-stuck{
      z-index: 100;
    }
    .top-bar{
      h1{
        font-size: rem-calc(18);
      }
      .top-bar-left{
        flex:1 1 0px;
      }
      .top-bar-right{
        flex: 0 0 0px;
      }
      .menu-icon{
        margin:0;
        &:after{
          height:3px;
          color: $medium-gray;
        }
      }
      a{
        color:$medium-gray;
        &:hover{
          color:$dark-gray;
        }
      }
    }
  }
// book page with pictures
  .orbit-previous, .orbit-next {
    position: absolute;
    top: 0%;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    z-index: 10;
    padding: 1rem;
    color: $medium-gray;
    background: none;
    margin: 0;
    padding: $global-padding/2 $global-padding*2;
    &:hover,
    &:active,
    &:focus{
      background-color: $white;
    }
  }
  .orbit-previous {
    padding-left: 0;
  }
  .orbit-next {
    padding-right:0;
  }
  .orbit-slide{
    padding-top:$global-padding*2;
  }
// pages with text
  .textbody{
    padding-top:$global-padding*2;
    a{
      &:hover{
        text-decoration: underline;
      }
    }
    p {
      font-weight: lighter;
    }
  }
  #photoinfo {
    padding-top: $global-padding;
    p {
      line-height: $global-lineheight;
      font-size: $global-font-size*0.9;
      color: $anchor-color;
    }
  }
  footer{
    background-color:$light-gray;
    padding:$global-padding;
    font-size:$small-font-size;
    font-weight: lighter;
    ul{
      &.logos-footer {
        min-height:3rem;
        margin:0;
        li{
          ul{
            margin:0;
          }
        }
      }
    }
    .logo{
      content: '';
      min-width: 8rem;
      min-height: 2.5rem;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: left;
      background-position-y: center;
    }
    .credits-footer{
      padding:$global-padding 0;
    }
  }

  // offcanvas full screen
  // https://foundation.zurb.com/building-blocks/blocks/off-canvas-full-screen.html
  .off-canvas-wrapper{
    background-color: $white;
  }
  .offcanvas-full-screen {
    @include off-canvas-base();
    @include off-canvas-position($position: right);
    @include off-canvas-content();
    &.is-open{
      // margin-top: $global-margin*4;
    }
  }
  .offcanvas-full-screen-inner {
    display: inline-block;
    padding: $global-padding;
    padding-left: $global-padding*2;
    text-align: left;
    color: $dark-gray;
    a{
      &:hover{
        text-decoration: underline;
      }
    }
    ul {
      li {
        ul{
          padding-top:$global-padding/2;
           li{
            line-height: 1.8rem;
            text-indent: -($global-padding);
            padding-left: $global-padding;
            a{
            }
          }
        }
      }
    }
  }
  .offcanvas-full-screen-menu {
    @include menu-base;
    @include menu-direction(vertical);
    a {
      color: $dark-gray;
      padding:$global-padding*0.7 0;
      &:hover {
        color: darken($black, 30%);
      }
    }
  }
  .offcanvas-full-screen-close {
    color: $dark-gray;
    font-size: 3rem;
    margin-bottom: $global-padding;
    &:hover {
      color: darken($white, 30%);
    }
  }

  /* icons css one or two pictures*/
  #nav-pictures{
    height: $global-margin*3;
    a{
      color:$medium-gray;
      padding:$global-padding;
      &:hover{
        color:$primary-color;
      }
      &.bar-last{
        letter-spacing: -0.2rem;
        padding-right: 0;
        // margin-left: $global-padding;
      }
      &.bar-first{
        letter-spacing: -0.2rem;
        padding-left: 0;
        // margin-right: $global-padding;
      }
    }
    li {
      a .onepic,
      input[type=submit] .onepic {
        position: relative;
        display:inline-block;
        width: 20px;
        height: 12px;
        background: $medium-gray;
        color: white;
        text-align: center;
        text-indent: .1em;
      }
      a .onepic:before,
      input[type=submit] .onepic:before {
        content: '';
        position: absolute;
        top: -20%;
        bottom: -20%;
        left: 11px;
        background: inherit;
        border:1px solid scale-color($medium-gray, $lightness: 40%);
      }
      a:hover .onepic,
      input[type=submit]:hover .onepic {
        background: $primary-color;
      }
      a .twopic,
      input[type=submit] .twopic {
        position: relative;
        display:inline-block;
        width: 44px;
        height: 12px;
        background: $medium-gray;
        color: white;
        text-align: center;
        text-indent: .1em;
      }
      a .twopic:before,
      input[type=submit] .twopic:before {
        content: '';
        position: absolute;
        top: -20%;
        bottom: -20%;
        left: 21px;
        background: inherit;
        border:2px solid $white;
      }
      a:hover .twopic,
      input[type=submit]:hover .twopic {
        background: $primary-color;
      }
    } //li
  }//#nav-pictures

  // twentytwenty modified
  .twentytwenty-before-label:before {
    content: "1997";
  }
  .twentytwenty-after-label:before {
    content: "2018";
  }

  /*  icon logos online*/
  .logo.elglobusvermell {
    background-image: url('../assets/img/el_globus_vermell-logotipo-black-06.svg');
  }
  .logo.eurom {
    background-image: url('../assets/img/EUROM_vert-rgb-pos_out-gray.svg');
  }
  .logo.ub_fundacionsolidaritat {
    background-image: url('../assets/img/UB_Fundacion_Solidaritat.svg');
  }
  .logo.berlinwallfoundation {
    background-image: url('../assets/img/BerlinWallFoundation_farbig_black.svg');
  }
  .logo.eu-europeforcitizens {
    background-image: url('../assets/img/eu_flag_europe_for_citizens_co_funded_vect_pos_black_right_en.svg');
  }
} /* end Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* // Medium screens */
@media only screen and (min-width: 40.063em) {
  .frontpage{
    .callout{
      padding-top:1rem;
      padding-bottom:2rem;
      img{
        width:20%;
      }
      p{
        font-size: rem-calc(16);
      }
    }
  }
  header {
    .top-bar{
      h1{
        font-size: rem-calc(20);
      }
    }
  }
  #photoinfo {
    a,p {
      line-height: $global-lineheight;
      font-size: $global-font-size;
    }
  }
  // polyline and circles
  #nav-wall-wrapper{
    position: relative;
  }
  #nav-wall {
    position: absolute;
    top: 3rem;
    left: -($global-padding*7);
    width: $global-padding*8;
    .mapsvg{
      padding:0;
      width: 100%;
      min-height: 37rem;
    }
    polyline.wallpicspath {
      fill: none ;
      stroke: $medium-gray;
      stroke-width: 0.0006;
    }
    circle.possitiondot {
      fill: $light-gray;
      stroke: $primary-color;
      stroke-width: 0.0005;
    }
  }

  .offcanvas-full-screen-close {
    margin-bottom: $global-padding*5;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* // Large screens */
@media only screen and (min-width: 64.063em) {

} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  #nav-wall{
    left: -($global-padding*12);
    width: $global-padding*10;
  }

 } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* // XLarge screens */
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
  .frontpage .callout{
    padding-top:4rem;
    padding-bottom:8rem;
  }
  #nav-wall{
    left: -($global-padding*12);
    width: $global-padding*10;
  }
} /* min-width 1441px, xlarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* // XXLarge screens */
@media only screen and (min-width: 120.063em) {
  .frontpage .callout{
    padding-top:4rem;
    padding-bottom:10rem;
  }
} /* min-width 1921px, xxlarge screens */
