
/*

 @font-face {
    font-family: 'rennerblack';
    src: url('../assets/fonts/renner/rennerrenner_900_black-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_900_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rennerblack';
    src: url('../assets/fonts/renner/rennerrenner_900_black_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_900_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'rennerheavy';
    src: url('../assets/fonts/renner/rennerrenner_800_heavy-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_800_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rennerheavy';
    src: url('../assets/fonts/renner/rennerrenner_800_heavy_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_800_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'renner';
    src: url('../assets/fonts/renner/rennerrenner_700_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_700_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'renner';
    src: url('../assets/fonts/renner/rennerrenner_700_bold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_700_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'rennersemi';
    src: url('../assets/fonts/renner/rennerrenner_600_semi-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_600_semi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rennersemi';
    src: url('../assets/fonts/renner/rennerrenner_600_semi_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_600_semi_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'rennermedium';
    src: url('../assets/fonts/renner/rennerrenner_500_medium-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_500_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rennermedium';
    src: url('../assets/fonts/renner/rennerrenner_500_medium_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_500_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'renner';
    src: url("../assets/fonts/renner/Jost-400-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'renner';
    src: url('../assets/fonts/renner/rennerrenner_400_book_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_400_book_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'rennerlight';
    src: url('../assets/fonts/renner/rennerrenner_300_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_300_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rennerlight';
    src: url('../assets/fonts/renner/rennerrenner_300_light_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_300_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'rennerthin';
    src: url('../assets/fonts/renner/rennerrenner_200_thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_200_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rennerthin';
    src: url('../assets/fonts/renner/rennerrenner_200_thin_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_200_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'rennerhairline';
    src: url('../assets/fonts/renner/rennerrenner_100_hairline-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_100_hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rennerhairline';
    src: url('../assets/fonts/renner/rennerrenner_100_hairline_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/renner/rennerrenner_100_hairline_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

  body *{font-family: renner,Renner, "Renner", sans-serif;}
 */
