/*reset for browsers*/
/* * {outline-color: none;} */

/*Fonts for the web site  */
/* ../assets/fonts/renner/rennerstylesheet.css */
/* ../assets/fonts/renner.old/renneroldstylesheet.css */
@font-face {
  font-family: 'rennerold';
  src: url('../assets/fonts/renner.old/renner-book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rennerolditalic';
  src: url('../assets/fonts/renner.old/renner-bookitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldbold';
  src: url('../assets/fonts/renner.old/renner-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldblack';
  src: url('../assets/fonts/renner.old/renner-black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldblackitalic';
  src: url('../assets/fonts/renner.old/renner-blackitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldlight';
  src: url('../assets/fonts/renner.old/renner-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldlihgtitalic';
  src: url('../assets/fonts/renner.old/renner-lightitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldmedium';
  src: url('./assets/fonts/renner.old/renner-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'renneroldmediumitalic';
  src: url('../assets/fonts/renner.old/renner-mediumitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* futura font*/
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-BoldOblique.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-BookOblique.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-LightOblique.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'futura';
  src: url('../assets/fonts/futura/FuturaStd-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

body *{font-family: futura, rennerold, sans-serif;}



/* // Small screens */
/* Define mobile styles */
@media only screen {

  /* foundation styles modified*/
/*
  .top-bar, .top-bar ul{
    background-color:white;
  }
  
  body{
    background-color: rgb(240,240,240);
  }
  body p{
    text-align: left;
  }
  body.f-topbar-fixed{
    padding-top: 0 !important;
  }
  button, .button {
    background-color: rgb(90,90,90);
    border:none;
  }
  button:hover, button:focus, .button:hover, .button:focus{
    background-color: rgb(90,90,90);
  }
  header {
    background-color: rgb(255,255,255);
  }
  header .contain-to-grid .top-bar{
    left:0;
  }
  header .top-bar .name h1 a{
    font-size:1.6rem;
    font-weight: 900;
    color:rgb(200,200,200);
    display:inline;
  }
  header .top-bar .title-area{
    float:left;
  }
  header .title h1 {
    padding:1em 0.5em;
    font-size:1.6rem;
    font-weight: 900;
  }
  header .title h1 a:hover {
    color:rgb(90,90,90)
  }
  header .menu-icon{
    top:0.8rem;
  }
  header .menu-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(200,200,200);
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 rgb(200,200,200), 0 14px 0 rgb(200,200,200);
  }

  header .top-bar-section .f-open-dropdown {
    width: 150px !important;
  }
  header .top-bar-section .f-open-dropdown{
    margin-top:0.3em;
  }
  header .top-bar-section .dropdown {
    min-width: 200px;
    left:-125%;
  }
  header .top-bar-section .has-dropdown > a {
    padding-right: 0;
  }
  header .top-bar-section .dropdown li:not(.has-dropdown) {
    width:auto;
    float:right;
    clear:both;
  }
  header .top-bar-section .has-dropdown.not-click:hover > .dropdown  {
    background: rgba(255,255,255,1);
    padding:0.4em;
  }

  header .top-bar-section ul {
    padding-top: 0;
    margin-top: 1.3rem;
  }

  header .top-bar-section .has-dropdown ul.dropdown {
    margin: 0;
  }
  header .top-bar-section .has-dropdown > a:after{
    content:none;
  }
  header .top-bar-section li:not(.has-form) a:not(.button) {
    line-height:2.5em;
  }
  header .top-bar-section .dropdown li label {
    color:rgb(90,90,90);
    background:rgba(255,255,255,1);
    font-size:0.8rem;
    font-weight:normal;
  }
  

  .move-left .exit-off-canvas{
    box-shadow: none;
    background: rgba(255, 255, 255, 0.8);
  }
  .move-left .exit-off-canvas:hover{
    background: rgba(255, 255, 255, 0.5);
  }
  .left-off-canvas-menu,
  .right-off-canvas-menu{
    padding:1.5rem 0;
    background: rgba(255, 255, 255, 1);
  }

  .left-off-canvas-menu li,
  .right-off-canvas-menu li{
    padding:0.8rem 0;
  }
  .left-off-canvas-menu li.has-dropdown,
  .right-off-canvas-menu li.has-dropdown{
    border-top:1px solid rgb(200,200,200);
  }
  .left-off-canvas-menu li.has-dropdown li,
  .right-off-canvas-menu li.has-dropdown li{
    padding: 0 1.6rem;
    text-indent: -0.8rem;
  }
  .left-off-canvas-menu .section-title,
  .right-off-canvas-menu .section-title{
    text-transform: Capitalize;
  }
  .left-off-canvas-menu ul:not(.dropdown),
  .right-off-canvas-menu ul:not(.dropdown) {
    border-top: 1px solid rgb(200,200,200);
  }

  footer {
    background: rgb(240,240,240);
    box-shadow: 0 50vh rgb(240,240,240);
    margin-top:4rem;
  }

*/
  /*bookstyles*/
/*
  #coverpage {
    margin-top:5em;
    margin-bottom:4rem;
  }
  .frontpage h1{
    font-size:3.5em;
    font-weight:bold;
  }
  .frontpage h3{
    font-size:2.2em;
    font-weight:lighter;
  }
  .frontpage img{
    max-width:20%;
  }
  .frontpage p{
    font-size:1em;
    font-weight:lighter;
  }
  #pagetitle{
    margin-bottom:2rem;
  }
  #pagetitle h1, #pagetitle h2, #pagetitle h3, #pagetitle h4, #pagetitle h5, #pagetitle h6 {
    line-height: 1.4;
  }
  #pagetitle h1 {
    font-size: 2rem;
  }
  #pagetitle h2 {
    font-size: 1.6rem;font-weight: bold;
  }
  #pagetitle h3 {
    font-size: 1.2rem;
  }
  #pagetitle h4 {
    font-size: 0.95rem;
  }
  #pagetitle h5 {
    font-size: 0.9rem;
  }
  #pagetitle h6 {
    font-size: 0.8rem;
  }

  #photoinfo h3{
    font-size: 0.8rem;
  }

  #textbody *{
    font-size:0.9rem;
    line-height: 1.7rem;
  }
  #textbody {
    min-height: 38em;
  }
  #textbody p{
    margin-bottom: 1em;
  }
  #textbody a{
    border-bottom: 1px solid rgb(220,220,220);
  }
  #textbody ul li {
    padding-left: 4rem;
    text-indent: -2rem;
  }
  */
  /*  book page */
/*
  #textbody .carousel ul li {
    padding-left:0;
    text-indent:0;
    padding: 1rem;
    max-width: 200px;
  }
  #textbody .visible-img img {
  top: 0%;
  }
  #textbody dl dt{
    margin-top:1.6rem;
    margin-bottom:0rem;
  }
  #textbody dl dl dt{
    font-style: italic;
    font-weight: 500;
    margin-top: 0.4rem;
  }
  #textbody dl dd{
    margin-bottom:0rem;
  }
  .row.fullheight{
    display:table;
    height: 100%;
  }
  #nav-pictures{
    height: 1.5rem;
  }
  .fullheight #nav-wall{
    height: 100%;
  }
  #nav-wall .mapsvg {
    width: 100%;
    height: 100%;
  }

  #nav-wall polyline.wallpicspath {
    fill: none ;
    stroke: rgb(200,200,200);
    stroke-width: 0.0005;
  }
  #nav-wall circle.possitiondot {
    fill: rgb(230,230,230);
    stroke: rgb(90,90,90);
    stroke-width: 0.0005;
  }
  #nav-wall .map-nav{
    position:relative;
    left:1rem;
    width:100%;
    height:100%;
  }
  #nav-wall .map-nav-prev a,
  #nav-wall .map-nav-next a{
    display:block;
    position: absolute;
    width: 100%;
    height: 50%;
  }
  #nav-wall .map-nav-prev a{
    bottom:0%;
  }
  #nav-wall .map-nav-next a{
    top:0%;
  }
  #nav-wall .map-nav-prev a:hover .triangle-down.prev{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid rgba(50,50,50,1);
    width: 0;
    height:0;
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  #nav-wall .map-nav-next a:hover .triangle-up.next {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgba(50,50,50,1);
    width: 0;
    height:0;
    position: absolute;
    top: 0;
    left: 50%;
  }

  #nav-pictures .sub-nav {
    display:inline;
  }
  #nav-pictures .sub-nav li {
    padding:0;
    margin:0;
  }
  #nav-pictures .sub-nav li a{
    width:100%;
    padding:0;
  }
  #nav-pictures .sub-nav li a .triangle-right{
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid rgba(200,200,200,1);
    display:inline-block;
    width: 0;
    height:0;
    margin-left:1rem;
  }
  #nav-pictures .sub-nav li a .triangle-right.last:before{
    content:'';
    background:inherit;
    border: 1px solid rgba(200,200,200,1);
    position:absolute;
    top:15%;
    height: 60%;
  }
  #nav-pictures .sub-nav li a .triangle-left{
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 12px solid rgba(200,200,200,1);
    display:inline-block;
    width: 0;
    height:0;
    margin-right:1rem;
  }
  #nav-pictures .sub-nav li a .triangle-left.first:before{
    content:'';
    background:inherit;
    border: 1px solid rgba(200,200,200,1);
    position:absolute;
    top:15%;
    height: 60%;
  }
  #nav-pictures .sub-nav li a:hover .triangle-right{
    border-left: 12px solid rgba(50,50,50,1);
  }
  #nav-pictures .sub-nav li a:hover .triangle-right.last:before{
    border: 1px solid rgba(50,50,50,1);
  }
  #nav-pictures .sub-nav li a:hover .triangle-left{
    border-right: 12px solid rgba(50,50,50,1);
  }
  #nav-pictures .sub-nav li a:hover .triangle-left.first:before{
    border: 1px solid rgba(50,50,50,1);
  }
  */
  /* icons css one or two pictures*/
/*
  #nav-pictures .sub-nav li a .onepic,
  #nav-pictures .sub-nav li input[type=submit] .onepic {
    position: relative;
    display:inline-block;
    width: 20px;
    height: 12px;
    background: rgb(200,200,200);
    color: white;
    text-align: center;
    text-indent: .1em;
  }
  #nav-pictures .sub-nav li a .onepic:before,
  #nav-pictures .sub-nav li input[type=submit] .onepic:before {
    content: '';
    position: absolute;
    top: -20%;
    bottom: -20%;
    left: 11px;
    background: inherit;
    border:1px solid rgb(220,220,220);
  }
  #nav-pictures .sub-nav li a:hover .onepic,
  #nav-pictures .sub-nav li input[type=submit]:hover .onepic {
    background: rgb(90,90,90);
  }
  #nav-pictures .sub-nav .onepic{
    margin-right:1rem;
  }
  #nav-pictures .sub-nav .twopic{
    margin-left:1rem;
  }
  #nav-pictures .sub-nav li a .twopic,
  #nav-pictures .sub-nav li input[type=submit] .twopic {
    position: relative;
    display:inline-block;
    width: 44px;
    height: 12px;
    background: rgb(220,220,220);
    color: white;
    text-align: center;
    text-indent: .1em;
  }
  #nav-pictures .sub-nav li a .twopic:before,
  #nav-pictures .sub-nav li input[type=submit] .twopic:before {
    content: '';
    position: absolute;
    top: -20%;
    bottom: -20%;
    left: 21px;
    background: inherit;
    border:2px solid rgb(255,255,255);
  }

  #nav-pictures .sub-nav li a:hover .twopic,
  #nav-pictures .sub-nav li input[type=submit]:hover .twopic {
    background: rgb(90,90,90);
  }
  #imagescompared{
    margin-bottom:1rem;
  }
*/

  /*twentytwenty modified*/
  /*
  .twentytwenty-before-label:before {
    content: "1997";
  }
  .twentytwenty-after-label:before {
    content: "2018";
  }
  .twentytwenty-horizontal .twentytwenty-handle:before, .twentytwenty-horizontal .twentytwenty-handle:after, .twentytwenty-vertical .twentytwenty-handle:before, .twentytwenty-vertical .twentytwenty-handle:after{
    background:transparent;
  }
  .twentytwenty-horizontal .twentytwenty-handle:before{
    box-shadow:none;
  }
*/
  /*  icon logos online*/
  .logo .elglobusvermell {
    background: url('../assets/img/el_globus_vermell-logotipo-black-06.svg') no-repeat center center;
  }
  .logo .eurom {
    background: url('../assets/img/EUROM_vert-rgb-pos_out-gray.svg') no-repeat center center;
  }
  .logo .ub_fundacionsolidaritat {
    background: url('../assets/img/UB_Fundacion_Solidaritat.svg') no-repeat center center;
  }
  .logo .berlinwallfoundation {
    background: url('../assets/img/BerlinWallFoundation_farbig_black.svg') no-repeat center center;
  }
  .logo .eu-europeforcitizens {
    background: url('../assets/img/eu_flag_europe_for_citizens_co_funded_vect_pos_black_right_en.svg') no-repeat center center;
  }
/*
  footer {
  }
  footer .inline-list{
    margin-bottom:0;
  }
  footer .logos-footer li.center {
    margin-left:14%;
  }
  footer .logos-footer .menu-icon{
    margin:0.7rem 1rem 0.7rem 0;
    height: 3rem;
    width: 3rem;
    background-size: contain;
  }
  footer .logos-footer .menu-icon:after{
    content:none;
  }
  footer .logos-footer .elglobusvermell{
  }
  footer .logos-footer .eurom{
    width: 4rem;
  }
  footer .logos-footer .ub_fundacionsolidaritat{
    width: 10rem;
  }
  footer .logos-footer .berlinwallfoundation{
    width: 10rem;
  }
  footer .logos-footer .eu-europeforcitizens{
    width: 10rem;
  }
  footer .credits-footer{
    margin-top:2rem;
  }
  */
  } /* end Define mobile styles */

  @media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

  /* // Medium screens */
  @media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

  @media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

  /* // Large screens */
  @media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

  @media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

  /* // XLarge screens */
  /* min-width 1441px, xlarge screens */
  @media only screen and (min-width: 90.063em) {
    footer{
      margin-top:6rem;
    }
    } /* min-width 1441px, xlarge screens */

  /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
  @media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

  /* // XXLarge screens */
  @media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
