

@font-face {
    font-family: 'rennerold';
    src: url('../assets/fonts/renner.old/renner-book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rennerolditalic';
    src: url('../assets/fonts/renner.old/renner-bookitalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'renneroldbold';
    src: url('../assets/fonts/renner.old/renner-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'renneroldblack';
    src: url('../assets/fonts/renner.old/renner-black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'renneroldblackitalic';
    src: url('../assets/fonts/renner.old/renner-blackitalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'renneroldlight';
    src: url('../assets/fonts/renner.old/renner-light.otf') format('opentype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'renneroldlihgtitalic';
    src: url('../assets/fonts/renner.old/renner-lightitalic.otf') format('opentype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'renneroldmedium';
    src: url('../assets/fonts/renner.old/renner-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'renneroldmediumitalic';
    src: url('../assets/fonts/renner.old/renner-mediumitalic.otf') format('opentype'),
    font-weight: normal;
    font-style: normal;
}

  body *{font-family: rennerold, sans-serif;}
